<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="assets/img/logos/logo-onepointfive.svg" alt="Logo 1point5" width="112" height="28">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu is-static">
      <div class="navbar-end">
        <a href="#features" class="navbar-item is-secondary" alt="Explore features">
          Features
        </a>
        <a href="#testimonials" class="navbar-item is-secondary" alt="Read Testimonials">
          Testimonials
        </a>
        <a href="#contact" class="navbar-item" alt="Contact us">
          <span class="button is-small rounded primary-btn raised">
            Contact us
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
