// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
@import '../node_modules/vuetify/src/styles/styles.sass';

// Font

$body-font-family: 'IBM Plex Sans', sans-serif;
$heading-font-family: 'IBM Plex Sans', sans-serif;

// Variables must come before the import
$headings: (
  'h1': (
    'size': 24px,
    'weight': 600,
    'line-height': 31px,
    'color': '#1a004b'
  ),
  'h2': (
    'size': 18px,
    'weight': 600,
    'line-height': 23px,
    'color': '#1a004b'
  )
);