// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// Variables: https://github.com/vuetifyjs/vuetify/tree/master/packages/vuetify/src/styles

body {
  color: #17054B;
}

a {
  text-decoration: none;
}

// Global

$body-font-family: 'IBM Plex Sans', sans-serif;
$heading-font-family: 'IBM Plex Sans', sans-serif;

$black: var(--v-secondary-base);
$dark: var(--v-secondary-base);

$border-radius-root: 6px;


$headings: (
  'h1': (
    'line-height': 31px
  ),
  'h2': (
    'line-height': 31px
  )
);


// Card 

$card-border-radius: 6px;

$card-title-font-color: var(--v-secondary-base);
$card-title-font-size: 24px;
$card-title-font-weight: 600 !default;

$card-subtitle-padding: 25px;

// Tooltip
$tooltip-text-color: white;
$tooltip-background-color: var(--v-secondary-base);

// Snackbar
$snackbar-text-color: white;
$snackbar-background-color:  var(--v-secondary-base);

// Data Tables
$data-table-expanded-content-box-shadow: 0;

$material-light: (
    'bg-color': #E5E5E5,
    'fg-color' :#E5E5E5,
    'text-color': var(--v-secondary-base)
);




@import '~vuetify/src/styles/styles.sass';
